@import colors

.label
  color: white
  padding: 5px
  margin-right: 5px
  font-size: 0.7em
  font-weight: bold
  font-family: $font-family
  border-radius: 10%
  +m(new)
    background: $primary
  +m(spam)
    background: $spam
  +m(default)
    background: $default
.new__mail
  display: flex
  height: 250px
  background: $text
  flex-direction: column
  position: fixed
  bottom: 0
  right: 10%
  padding: 5px
  box-shadow: 1px 1px 1px 1px gray
  transition: 0.5s transform ease
  +e(close)
    float: right
  +e(body)
    textarea
      padding: 10px 0 0 0
      margin: 0
      width: 100%
      border: none
  +e(banner)
    background: $primary
    color: white
    font-family: $font-family
    padding: 5px
  +m(hidden)
    transform: translateY(270px)
.mail__input
  font-family: $font-family
  border-bottom: 2px solid gray
  span
    width: 25%
  input
    border: none
    width: 75%
    padding-left: 5px

.mail__button
  background: $primary
  color: $text
  padding: 5px
